/* GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    list-style: none;
}

body{
    background-color: #F0F2F5;
}

.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px;
}


.logo{
    position: relative;
    width: 320px;
    right: 28px;
    top: 15px;
}

.left {
    position: relative;
    bottom: 70px;
}


h2{
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    color: #1c1e21;
    max-width: 500px;
}

form{
    padding: 20px 20px;
    margin: 30px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3)
}


form a, input, button{
    display: block;
}

input{
    width: 100%;
    margin-top: 12px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #dddfe2;
    outline: none;
}

input:focus{
    border-color: #1877F2;
    box-shadow: 0 0 0 2px #fff;
    caret-color: #1877F2;
}

input[placeholder]{
    font-weight: 100;
}

input::placeholder{
    font-size: 16px;
    color: #90949C;
}

form a{
    font-size: 15px;
    color: #1877F2;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    padding-bottom: 15px;
    border-bottom: 1px solid #DADDE1;
}

form a:hover{
    text-decoration: underline;
}

.btn-open, 
.btn-create-account{
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 15px;
    cursor: pointer;
    transition: 200ms cubic-bezier(.08, 0.55, 0.55, 1);
}

.btn-open{
    font-size: 20px;
    background-color: #1877F2;
    width: 100%;
    margin-top: 15px;
}

.btn-open:hover{
    background-color: #3084f3;
}

.btn-create-account{
    font-size: 15px;
    background-color: #3abe20;
}

.btn-create-account:hover{
    background-color: #3aa325;
}

.btn-create-account{
    font-size: 18px;
    background-color: #3abe20;
    margin: 0 auto;
    margin-top: 22px;
}

p, p > a{
    font-size: 15px;
    color: #1C1E21;
    margin: 28px 0 0 0;
}

p > a{
    font-weight: bold;
    text-decoration: none;
}

p > a:hover{
    text-decoration: underline;
}

.nav-footer {
    display: block;
    background-color: #fff;
    align-items: center;
}

.nav-language {
    display: flex;

}

.language, a{
    display: flex;
    gap: 20px;
    text-decoration: none;
    font-size: 12px;
    color: #90949C;
}

.register, a {
    color: #1877F2;
}

